*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.main_container{
    width: 100%;
    padding: 0 10vw;
    background-color: #f2fbfa;
}

.headers_container{
    padding: 3rem 0;
}

.page_title{
    color: #03dac5;
    font-family: Clash Display Semibold;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.45;
    margin-bottom: 1.5rem;
}

.page_tagline{
    font-size: 4rem;
    font-family: Clash Display Semibold;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

.page_remark{
    font-weight: 500;
    font-size: 1.25rem;
    font-family: Plus Jakarta Sans;
}

.field_Wrapper{
    display: flex;
    width: 100%;
    gap: 4rem;
    flex-direction: row;
}

.inpParent{
    flex: 1;
}

.inpLabel>span{
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    line-height: 20px;
}

.requiredLabel>span::after{
    content: '*';
    color: red;
    font-weight: 650;
}

.labelStar{
    color: red;
    font-weight: 650;
}

.inpField,.selectField{
    width: 100%;
    padding: 5px 5px 5px 15px;
    background-color: transparent !important;
    color: black;
    border: none;
    border-bottom: 2px solid #cad5e2;
}

.inpField:focus, .inpField:active,.selectField:focus, .selectField:active{
    outline: none !important;
    box-shadow: none !important;
}

.selectField:nth-child(1){
    font-weight: 900;
    color: 'red';
    background-color: 'red';
}

.error_message{
    color: red;
    font-family: Plus Jakarta Sans;
    font-weight: normal;
    line-height: 18px;
    font-size: .9rem;
    margin-left: 5px;
    font-weight: 350;
    letter-spacing: .8px;
    visibility: hidden;
}

.buttonDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.submitBtn{
    background: #03DAC5;
    font-family: Plus Jakarta Sans;
    color: #020827;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    padding: 12px 24px;
    border: 1px solid #03DAC5;
    border-radius: 3px;
}

@media screen and (max-width: 482px) {
    .main_container{
        padding: 0 4vw;
    }
    .field_Wrapper {
      flex-direction: column;
      gap: 1rem;
    }
    .page_tagline{
        font-size: 2rem;
    }
    .page_remark{
        font-size: 1rem;
    }
}